@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
    color: #dddddd;
    font-weight: 300;
    scrollbar-track-color: transparent;
}
:root{
    --yellow:#eec549;
    --red:#cc3330;
    --blue:#65a7dd;
    --green:#95c278;
    --gray:#3E3E3C;
    --dark-gray:#212121;
}
/* width */ 
::-webkit-scrollbar {
    width: 10px;
    height:10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--dark-gray);
  }
  